 body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   margin: 0;
   padding: 0;
   background-color: var(--sl-color-bg);
   color: var(--sl-color-text);
 }

 a {
   color: #007acc;
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 }

 .active a {
   font-weight: bold;
   color: #007acc;
 }

 .centered-icon {
   text-align: center;
   font-size: 48px;
   margin-bottom: 10px;
 }

 .row {
   display: flex;
   flex-direction: row;
 }

 .col {
   display: flex;
   flex-direction: column;
 }

 .align-items-center {
   align-items: center;
 }

 .justify-center {
   justify-content: center;
 }

 .gap-1rem {
   gap: 1rem;
 }

 /** 
    Fix mathjax to be inline by default
    see https://github.com/withastro/starlight/issues/721#issuecomment-2422914105 
  */
 .MathJax svg {
   display: inline !important;
 }